@tailwind base;
@tailwind components;
@tailwind utilities;

#hero {
  background-image: url("/images/desktop/koishikawa-korakuen-m.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

@media (max-width: 576px) {
  #hero {
    background-image: url("/images/mobile/koishikawa-korakuen-m.jpg");
    background-position: center;
  }
}
